@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:wght@400;500;600;700&family=Michroma&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: #040636;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "Inter", sans-serif;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md font-inter;
}

.btn.btn-ghost {
  @apply shadow-none font-inter;
}

.gradient-bg {
  background: linear-gradient(180deg, #190a82 0%, #5202be 59.9%, #a644ff 100%), linear-gradient(0deg, #23cefd, #23cefd);
}

span {
  font-family: "Inter", sans-serif;
}
